<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodee.gdj58.online.mapper.PaperMapper">
	<!-- 학생 답안지 불러오기 -->
	<select	id="selectPaper"
			parameterType="java.util.Map"
			resultType="java.util.Map">
		SELECT 
			p.paper_no paperNo
			, p.question_no questionNo
			, p.answer answer
			, t.test_no testNo
			FROM paper p
			INNER JOIN question q
			ON p.question_no = q.question_no
			INNER JOIN test t
			ON q.test_no = t.test_no
			WHERE p.student_no = #{studentNo} AND t.test_no = #{testNo}
	</select>
	
	<!-- 학생 답안지 입력 -->
	<insert	id="insertPaper"
			parameterType="goodee.gdj58.online.vo.Paper">
		INSERT INTO paper (
			student_no
			, question_no
			, answer
		) VALUES (
			#{studentNo}
			, #{questionNo}
			, #{answer}
		)
	</insert>
</mapper>